.menu-icon {
    position: relative;
    height: 35px;
    width: 170px;
    cursor: pointer;

    &:hover span {
        color: white;
    }

    .icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 30px;
        color: white;
    }
    span {
        color: rgb(181, 174, 174);
        padding-left: 34px;
        font-size: 16px;
        font-weight: 500;
        display: block;
        line-height: 35px;
        
    }
}